.body-content {
  position: relative;
  min-height: 100vh;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.nav-item {
  font-size: 20px;
  margin-right: 8px;
  margin-left: 8px;
}

.nav-word {
  color:white;
}

.page-footer {
  color: #fff;
  font-family: Roboto,sans-serif;
  background-color: #009688!important;
  position: absolute;
}

.footer-copyright {
  color: white!important;
}

.content-left {
  border: solid yellow 2px;
  border-radius: 20px;
  height:400px;
  margin-right: 10px;
  margin-top: 50px;
  margin-left:10%;
}

.content-left:hover {
  border: solid green 2px;
}

.content-left a:hover {
  text-decoration: none;
  color:green !important;
}

.content-center {
  border: solid yellow 2px;
  border-radius: 20px;
  height:400px;
  margin-right: 10px;
  margin-top: 50px;
}

.content-center:hover {
  color:green;
  border: solid green 2px;
}

.content-center a:hover {
  text-decoration: none;
  color:green !important;
}

.content-right {
  border: solid yellow 2px;
  border-radius: 20px;
  height: 400px;
  margin-top: 50px;
}

.content-right:hover {
  color:green;
  border: solid green 2px;
}

.content-right a:hover {
  text-decoration: none;
  color:green !important;
}
.banner {
  padding-top:40px;
}

.slogan {
  padding-top:20px;
}

.description {
  padding-top: 30px;
}

.room-items {
  margin-top: 70px;
  margin-left:5%;
}

.room-item {
  margin-top: 30px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.banner-image {
  width:230px;
  height:150px;
}

.room-image {
  float: left;
}

.room-content {
  margin-left: 10px;
  height:150px;
  position: relative;
}

.show-room-image {
  margin-top: 30px;
  width: 400px;
  height: 330px;
  margin-bottom: 30px;
}

.show-room-content {
  margin-top: 30px;
}

.img-slider {
  width: 70px;
  height: 70px;
}

.add-btn {
  float: right;
}

.group-form {
  margin-right: 30px;
}

.control-bar-ul {
  list-style-type: none;
  margin-top: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  background-color: #212529;;
}

.control-bar-ul li a {
  display: block;
  color:white;
  padding: 8px 16px;
  text-decoration: none;
}

.control-bar-ul li a:hover:not(.active) {
  background-color: #4CAF50;
  color: white;
}

.control-left {
  margin-left: 0;
  width:20%;
  margin-right: 25px;
  min-height: 600px;
}

.month-select {
  margin-top: 10px;
  margin-right: 5px;
  width: 40%;
  font-size: 18px;
}

.main-content {
  margin-bottom: 100px;
}

.add-member-btn {
  margin-top: 20px;
  margin-right: 200px;
}

.groups {
  min-width: 320px;
  background-color: #F6F5F5;
  font-size: 15px;
  margin-bottom: 20px!important;
}

.list-group li a:hover {
  background-color: #4CAF50;
}

.bold {
  margin-top: 25vh;
  margin-bottom: 50vh;
}

.back-btn {
  margin-left: 120vh;
}

.text1 {
  margin-bottom: 50px;
}

.margin-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.group-image {
  height: 100px;
  width: 100px;
}

.group {
  display: inline-block;
  min-width: 285px;
  max-width: 285px;
  background-color:#E0FFFF;
  margin-right: 20px;
  margin-top: 20px;
}

.analytics-btn {
  margin-top: 20px;

}

.text-white {
  color: white;
}